<h1> Bookstore </h1>


<table border = "10" style="width:300px">

<ul>
<% all_books = Bookstore.read %>
<% all_books.each do |bookstore| %>
	

	<tr>
	<td> <%= bookstore["title"] %> </td>
	<td> <%= bookstore["author"] %> </td>
	<td> <%= bookstore["price"] %> </td>
	
	</tr>


<% end %>
</ul>

</table>


